body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.App {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
}

.card-content {
  font-size: 18px;
  font-weight: bold;
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: #e04c11;
}
.timer {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
